:root {

  /*colores*/
  --white: #f2f2f2;
  --black: #342E37;
  --main-blue: #3CB4E5;
  --dark-blue: #004B89;
  --secondary-blue: #0177A6;
}

.container-fluid {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

@media (min-width: 650px) {
  .container-fluid {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
  }
}


nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white);
}




.hero {
  position: relative;
  height: 110svh;
  overflow: hidden;
  color: var(--white);
  background-color: var(--black);
}