:root {

  /*colores*/
  --white: #f2f2f2;
  --black: #111;
  --main-blue: #3CB4E5;
  --dark-blue: #545cff;
  --secondary-blue: #0177A6;
  scroll-behavior: auto !important;

  --primary-font: "Darker Grotesque", sans-serif;
  --secondary-font: 'Aspekta';
}

.container-fluid {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

@media (min-width: 650px) {
  .container-fluid {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
  }
}

/*Lenis*/
html.lenis,
html.lenis body {
  height: auto;
  background: var(--white);
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


.show-p {
  margin-bottom: 4rem;
  font-size: clamp(20px, 5vw, 70px);
  padding: 0 5%;
}

.show-p span {
  opacity: .1;
}




/*COMPONENTS*/
article {
  position: relative;
  z-index: 2;
  background-color: var(--white);
}

body {
  font-family: var(--secondary-font);
  font-weight: 500;
}

h1 {
  font-size: 182px;
  font-family: var(--primary-font);
}

h2 {
  font-size: 121px;
  line-height: 1;
  font-family: var(--primary-font);
}

@media (max-width:1650px) {
  h2 {
    font-size: 74px;
  }
}

h3 {
  font-size: 81px;
  font-family: var(--primary-font);
  line-height: .7;
}

@media (max-width:64em) {
  h3 {
    margin-bottom: 32px;
  }
}

.stat-heading {
  font-size: 3rem;
  line-height: 1;
}

.stat-title {
  margin-bottom: 24px;
}

h4 {
  font-size: 54px;
  font-weight: 400;
  font-family: var(--primary-font);
}

h5 {
  font-size: 26px;
  font-weight: 400;
}

h6 {
  font-size: 3vw;
}

p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.01rem;
}

.gap-2 {
  gap: 2px;
}

.gap-4 {
  gap: 4px;
}

.gap-6 {
  gap: 6px;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-14 {
  gap: 14px;
}

.gap-16 {
  gap: 16px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: .40;
  position: absolute;
  z-index: 2;
}

.card {
  border-radius: 1rem;
}

.no-scroll {
  overflow: hidden;
}

.content--hidden {
  pointer-events: none;
  overflow: hidden !important;
}


/*Navegation*/
nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0);
  transition: all .5s ease;
}

nav img {
  mix-blend-mode: difference;
  transition: all .5s ease;
}

/*
nav.scrolled {
  background-color: rgb(255, 255, 255);
  transition: all .5s ease;
}
*/

nav.scrolling-down {
  background: hsla(0, 0%, 100%, .7);
  transform: translateY(-100%);
}

nav.scrolling-up {
  background: hsla(0, 0%, 100%, .7);
  transform: translateY(0);
}

nav.hide {
  top: -100%;
  transition: all .5s ease;
}


.menu-modal .modal-dialog {
  max-width: 940px;
}

.menu-modal .modal-content {
  background-color: var(--black);
  color: var(--white);
}

.modal-body {
  padding: 80px;
}

@media (min-width: 576px) {
  .modal-body {
    padding: 80px calc(32px + 48*(100vw - 576px) / 1024);
  }
}

.menu-modal-links {
  font-size: 3.5rem;
  color: var(--white);
  text-decoration: none;
  line-height: 1;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}

/*Hero*/
.hero {
  position: relative;
  height: 100svh;
  overflow: hidden;
  color: var(--white);
  background-color: var(--white);
}

.hero.border {
  border-radius: 14px;
  transition: border-radius .5s ease;
}

.hero h1 {
  letter-spacing: -2px;
  font-size: 110px;
  line-height: 1;
}

.hero .title-2 {
  margin-top: -20px;
}

.letter {
  display: inline-block;
  line-height: 1.13em;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transform: translateY(-50px);
}

.video-w {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: inset(320px 490px round 1rem);
  transform: translate(0px, 110vh);
}

.video-w video {
  height: 100%;
  width: 110%;
  position: absolute;
  left: 50%;
  object-fit: cover;
  max-width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-w {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  top: 0;
}

.content-w .main-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.client-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.bottom-info {
  border-top: 1px solid var(--white);
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  backdrop-filter: blur(24px);
  height: 10rem;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.bottom-info .container-fluid,
.bottom-info .container-fluid .row {
  height: 100%;
}

.bottom-info .clientsS {
  height: 100%;
}

@media (max-width:64em) {
  .content-w .main-content {
    top: 40%;
  }

  .hero h1 {
    letter-spacing: -2px;
    font-size: 74px;
    line-height: 1;
    text-align: center;
  }

  .hero .title-2-phone,
  .hero .title-3-phone,
  .hero .title-4-phone {
    margin-top: -20px;
  }

  .bottom-info .container-fluid,
  .bottom-info .row {
    height: 100%;
  }

}


/*About us*/
.about-us {
  padding-top: 7.5vw;
  margin-bottom: 7.5vw;
}

.us-extra {
  overflow: hidden;
  padding: 7.5rem 0px;
  height: 100svh;
  position: relative;
}

.us-extra img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(1.4);
  transform-origin: 50% 50%;
}

.us-extra .container-fluid,
.us-extra .container {
  position: relative;
  z-index: 1;
}

.us-extra .card-img {
  height: 380px;
  overflow: hidden;
  position: relative;
}

.us-extra .card-img img {}

/*Servicios*/
#servicios {
  padding-top: 200px;
  padding-bottom: 100px;
  overflow: hidden;
}

#servicios .container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.services-wrap {
  max-height: 37.5vw;
}

#servicios .section-title {
  aspect-ratio: 1.46 !important;
  margin-left: 90px !important;
  padding-left: 0 !important;
  padding-right: 120px !important;
  border-radius: calc(16px + 16*(100vw - 576px) / 1024);
  padding: calc(24px + 8*(100vw - 576px) / 1024);
  max-width: 32.5625vw !important;
  min-width: 32.5625vw !important;
}

.horizontal__content {
  display: flex;
}

.horizontal__item {
  height: 37.5vw;
  aspect-ratio: 1.25 !important;
  position: relative;
}

.horizontal__item {
  margin-left: 2.5vw;
}

.horizontal__item a {
  border-radius: 32px;
  box-shadow: 0 0 0 0 #545cff;
  -o-transition: box-shadow .45s ease-in-out;
  transition: box-shadow .45s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 3;
  background-color: var(--main-blue);
  overflow: hidden;
  color: var(--white);
}

.horizontal__item a img {
  position: absolute;
  height: 110%;
  width: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
}

.horizontal__item a .content-card {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.48);
  width: 100%;
  height: 100%;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.horizontal__item a .content-card h3 {
  font-size: 4rem;
}

.horizontal__item a:hover {
  box-shadow: 0 0 0 4px #545cff;
}

@media (max-width: 1025px) {
  #servicios {
    display: none;
  }

  .services-wrap {
    max-height: 600px;
    height: 100%;
  }

  .horizontal__item {
    margin-left: 2.5vw;
  }
}

#service-wrap h3 {
  font-size: 4.1rem;
}

.full-card-service {
  position: fixed;
  left: 0;
  bottom: -100%;
  opacity: 0;
  width: 100%;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.274);
  z-index: 999;
}

.service-wrapper-view {
  height: 95svh;
  width: 100vw;
  background-color: var(--black);
  color: var(--white);
  border-radius: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 1s ease-in-out;
  overflow: scroll;
  padding: 40px 5rem;
  z-index: 3;
}

.service-btn-mobile {
  height: 450px;
  width: 100%;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  display: block;
  transition: all .5s ease;
}

.service-btn-mobile:hover {
  box-shadow: 0 0 0 4px #545cff;
}

.service-btn-mobile img {
  position: absolute;
  height: 110%;
  width: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
}

.service-btn-mobile .content-card {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.48);
  width: 100%;
  height: 100%;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--white);
}

.service-btn-mobile .content-card h3 {
  font-size: 3rem;
}

.full-card-service.show {
  bottom: 0;
  opacity: 1;
  transition: all .4s ease-in-out;
}

.recluta-content,
.admin-content,
.consult-content,
.capa-content,
.ident-content,
.web-content {
  display: none;
}

#service-wrap.service-recluta .recluta-content {
  display: flex;
}

#service-wrap.service-admin .admin-content {
  display: flex;
}

#service-wrap.service-consult .consult-content {
  display: flex;
}

#service-wrap.service-capa .capa-content {
  display: flex;
}

#service-wrap.service-ident .ident-content {
  display: flex;
}

#service-wrap.service-web .web-content {
  display: flex;
}

.service-wrapper-view .col-md-5 {
  overflow: hidden;
  border-radius: 16px;
  position: relative;
}

.service-wrapper-view .col-md-5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*SPOTS*/
#vacantes {
  background-color: var(--dark-blue);
}

.vacantes .header-section {
  padding: 80px 5vw 105px;
}

.vacantes .vacantes-card .card {
  margin-top: -120px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 24px;
  padding-bottom: 120px;
  position: relative;
  bottom: -120px;
  border-radius: 16px;
}

.vacantes .col-md-12 {
  height: 400px;
}

.jobsBtns {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  gap: 40px;
  height: 50px;
}

.jobsBtns .swiper-button-next,
.jobsBtns .swiper-button-prev {
  width: 40px;
  height: 40px;
  position: relative;
}

@media (max-width: 64em) {
  .vacantes .vacantes-card .card {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/*FEEDBACK*/
.feedback {
  padding-top: 230px;
  padding-bottom: 95px;
  overflow: hidden;
}

/*MARQUEE*/
.marquee-section {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

.sm-marquee-wrapper {
  margin-top: -100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: -400px;
}

.sm-marquee-line {
  position: relative;
  white-space: nowrap;
  padding: 0;
  will-change: transform;
  font-family: var(--primary-font);
  font-size: 8vw;
  font-weight: 500;
}

@media (max-width:64em) {
  .sm-marquee-line {
    font-size: 6.5rem;
  }

  .sm-marquee-wrapper {
    left: -300px;
  }
}

.sm-marquee-item {
  padding: 0;
  display: inline-block;
  margin-right: 1rem;
  color: #2A2A31 !important;
  letter-spacing: -4px;
}


/*FOOTER*/
.pre-cta {
  margin-bottom: -16rem;
  position: relative;
  z-index: 3;
}

.pre-cta .card {
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  padding: 8rem 0;
  border: none;
}

.pre-cta .card .img-container {
  clip-path: polygon(92.04% 0%, 22.165% 0%, 22.165% 0%, 20.257% 4.675%, 18.053% 10.073%, 15.65% 15.96%, 13.141% 22.104%, 10.622% 28.272%, 8.187% 34.231%, 5.932% 39.749%, 3.952% 44.593%, 2.341% 48.53%, 1.195% 51.327%, 1.195% 51.327%, 0.488% 53.429%, 0.105% 55.426%, 0.001% 57.304%, 0.132% 59.051%, 0.453% 60.653%, 0.922% 62.097%, 1.494% 63.371%, 2.124% 64.462%, 2.77% 65.355%, 3.386% 66.04%, 44.915% 100%, 91.257% 100%, 100% 100%, 100% 0%, 92.04% 0%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: var(--dark-blue);
  height: 100%;
  width: 40%;
}

.pre-cta .card .img-container img {
  width: 230%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

footer {
  position: relative;
  padding-bottom: 170px;
  background-color: var(--white);
}

.first-footer {
  background-color: #465c58;
  color: var(--white);
  z-index: 1;
  border-radius: 3rem;
  padding-top: 20rem;
  padding-bottom: 6rem;
}

.last-footer {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  position: fixed;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
  color: var(--dark-blue);
}